body {
    background-color: #0000FF;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
    border: 10px dotted red;
}

h1{
    color: red;
    font-family: "Times New Roman";
    font-size:100px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    }
    .special {
        color: green;}
        
        .maincontent{
            background-color: white;
            color: red;
            width: 100px;
            height: 200px;
            overflow: hidden;
            position: fixed;
            bottom: 20px;
            right: 100px;
            
        }